.column {
  max-width: 300px;

  padding: 10px;

  border-radius: 4px;
}

.column-title {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.column-cards-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.column__background__blue {
  background-color: #59b4d1;
}

.column__background__orange {
  background-color: #d0935a;
}

.column__background__purple {
  background-color: #945ad1;
}

.column__background__green {
  background-color: #59d090;
}

.column__text__white {
  color: #ffffff;
}

.column__text__black {
  color: #171717;
}
