.column {
  max-width: 300px;

  height: fit-content;

  padding: 10px;

  border-radius: 4px;
}

.column-header {
  display: flex;
  align-items: stretch;
}

.column-header-title {
  margin-left: 10px;

  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.column-cards-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.column__background__blue {
  background-color: #59b4d1;
  border-top: 5px solid hsl(194, 57%, 48%);
}

.column__background__orange {
  background-color: #d0935a;
  border-top: 5px solid hsl(29, 56%, 48%);
}

.column__background__purple {
  background-color: #945ad1;
  border-top: 5px solid hsl(269, 56%, 49%);
}

.column__background__green {
  background-color: #59d090;
  border-top: 5px solid hsl(148, 56%, 48%);
}

.column__text__white {
  color: #ffffff;
}

.column__text__black {
  color: #171717;
}
